[Desktop Entry]
Type=Application
Name=URL Scheme Handler
Comment=Cross-platform URL scheme handler
Exec=url-scheme-handler %u
Terminal=false
Categories=Utility;
Icon=url-scheme-handler
MimeType=x-scheme-handler/ush;